<!DOCTYPE html >
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" >
<head>

    <meta name="author" content="CarlosDev" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="css/style.css">
    <script src="http://kit.fontawesome.com/006642858d.js"></script>
    <link href="http://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu$family=Work+Sans&display=swap" rel="stylesheet">
     <title>Projeto Escola Padrão</title>
</head>
<body>


<!-- CHAMANDO FRAGMENTO-->

<div th:replace="fragmentos/fragmento :: cabecalho"></div>
  
<!-- FIM FRAGMENTO -->  
  <section class="neo-section" style="background-image: url('img/escola-2.jpg');">  
  <div class="sombra"></div>
  <div class="center textMainContainer"><h1 class="textocentral">Sistema de Gerenciamento de Alunos</h1>
  <div class="botoes">
  <div class="wm">
  	<h5 class="btn ">ADICIONAR ALUNO</h5>
  </div>
  <div class="wm">
  	<h5 class="btn justify-content-center " > ENCONTRAR ALUNO</h5>
  </div>
  <div class="clear"></div>
  </div>
  </div>
  </section>
 
  
<div th:replace="fragmentos/fragmento :: rodape"></div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>